# Generated documentation.
doc/html/*
.DS_Store

# Python caches.
__pycache__/
*.pyc

# Binary resources.
res/*

build/
.cache/
ndk/
gonk/target/
gonk/Cargo.lock
objdiff.json
build-*/
vgcore.*
*.bin
*.pvr
*.dds
.vscode/
*.ogg
report_old.json
report.md
