# Generated documentation.
doc/html/*
.DS_Store

# Python caches.
__pycache__/
*.pyc
.venv/

# Binary resources.
res/*

.cache/
objdiff.json
vgcore.*
*.bin
*.pvr
*.dds
.vscode/
*.ogg
report_old.json
report.md
opencode.jsonc

.work/
.host_scratch/
*.ppm
/bazel-*
