name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    
    - name: Install CMake 4.x
      uses: lukka/get-cmake@latest

    - name: Configure CMake
      run: cmake -B build .

    - name: Build
      run: make -C build
