name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    
    - name: Install CMake 4.x
      uses: lukka/get-cmake@v3
      with:
        cmakeVersion: 4.0.0

    - name: Configure CMake
      run: mkdir build && cd build && cmake ..

    - name: Build
      run: make
