name: MSYS2 Target build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup MSYS2
              uses: msys2/setup-msys2@v2
              with:
                msystem: UCRT64
                update: true
                install: base-devel mingw-w64-ucrt-x86_64-make  mingw-w64-ucrt-x86_64-pkgconf  mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-libvorbis
            
            - name: Cache Android NDK
              uses: actions/cache@v4
              with:
                  path: ndk
                  key: android-ndk-r8e
            
            - name: Cache vorbis
              uses: actions/cache@v4
              with:
                  path: libs/ogg-vorbis
                  key: vorbis-${{ hashFiles('**/CMakeLists.txt') }}
            
            - name: Configure CMake
              shell: msys2 {0}
              run: cmake -B build .

            - name: Build
              shell: msys2 {0}
              run: cmake --build build --verbose
